# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
//*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# An attempt to exclude "everything.sdf"
*.sdf
sp/game/mod_hl2/cfg/config.cfg
sp/src/.vs/everything/v15/.suo
sp/src/.vs/everything/v15/Browse.VC.db
sp/src/.vs/everything/v15/Solution.VC.db
sp/src/.vs/everything/v15/Solution.VC.db
